button {
    background-color: rgb(72, 99, 156);
    height: 50px;
}

#button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.cell {
    background-color: rgb(223, 41, 53);
    height: 30px;
    width: 30px;
}

.parent{
    width: 100%;
    display: flex;
    /* gap: 10px; */
    justify-content: center;
    /* flex-direction: column; */
}

#main {
    display: flex;
    width: auto;
    height: auto;
    background-color: transparent;
    /* gap: 10px; */
    flex-direction: column;
}